@charset "UTF-8";
/*..........Author: Fahimeh Ghaderi..........*/
/*..........General styling..........*/
html, body {
    height: 100%;
}
:root {
    font-size: calc(.5vw + .5vh + .25vmin);
}
body {
    font-family: Handlee;
    line-height: 1.25;
    margin: 0;
    background-color:#FFFAFA;

}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {

/*.....Menu...*/
ul {
  position: fixed;
  width: 25%;
  left: 0;
  z-index: 5;
}

li {
  float: left;
  display: inline-block;
  font-size: 2px;
}

li a {
  display: block;
  color: #343138;
  }
/*.....Logo...*/
#logo{
  float:left;
  width:250px;
  height:250px;
  padding: 10px 20px;
  padding-left: 20px;
}

/*.....Intro pic...*/
#welcome-pic {
	width: 480%;
	height: 2200px;
	background-image: url(../image/intro-pic.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}


#portfolio-pic {
	width: 480%;
	height: 800px;
	background-image: url(../image/gallery/bg.png);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}

#footer-pic {
	width: 480%;
	height: 150px;
	background-image: url(../image/footer-pic.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}

/*.....Gallery pic...*/

.gallery__column {
    display: block flow;
    flex-direction: row;
    width: 700px;
    top: 50%;
}

.gallery__thumb {
  display: inline-table;
  width: 110%;
  height: 200%;
}
.gallery__image {
    display: inline-table;
    width: 20%;
    height: 20%;
}

/*.....About me...*/
.item1 {
    grid-area: myArea;
    width: 300%;
    height: 150%;
}

.grid-container-text{
    line-height: 1.5;
    text-align: center;
    line-break: loose;
    font-size: 30px;
    color: #343138;
    padding-left: 70px;
}

.grid-container-image {
	display: block;
	width: 150%;
	height: auto;
  padding-left: 70px;
}

/*..........Footer..........*/
.footer-content {
	text-align: center;
	background-color: #FFFAFA;

}

.social-logo {
  position: relative;
	width: 100px;
  padding-top: 100px;
}

.box {
  width: 70%;
}
.popup {
  width: 70%;
}

}

/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {
/*..........Grid Container about me..........*/
.item1 {
    grid-area: myArea;
}

.grid-container {
    display: grid;
    grid-template-areas: 'myArea myArea . . .' 'myArea myArea . . .';
    grid-gap: 10px;
    padding: 40px;
    padding-left: 70px;
}

.grid-container > div {
    text-align: center;
    padding: 80px 0;
    font-size: 30px;
}

.grid-container-image {
	display: block;
	width: 100%;
	height: auto;
}

.grid-container-text{
    line-height: 1.5;
    text-align: left;
    line-break: loose;
    font-size: 23px;
    color: #343138;
}

/* ..........3 Image design for 3 part..........*/

section {
    height: 100%;
    width: 100%;
}

.section-footer {
    height: 50%;
    width: 100%;
}

#logo{
  float:left;
  width:100px;
  height:100px;
  padding: 10px 20px;
  padding-left: 70px;
}
#frontpage-box {
  width: 100%;
	position: absolute;
	left: 20%;
	top: 30%;
}

#welcome-pic {
	width: 100%;
	height: 100%;
	background-image: url(../image/intro-pic.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}

#portfolio-box {
  width:100%;
	position: absolute;
	left: .5%;
	top: 130%;
}
#portfolio-pic {
	width: 100%;
	height: 700px;
	background-image: url(../image/gallery/bg.png);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}

#footer-pic {
	width: 100%;
	height: 190px;
	background-image: url(../image/footer-pic.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}

img {
  width: 100%;
  height: auto;
}
}

/*..........Navigation..........*/

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  left: 30%;
  z-index: 5;
}

li {
  float: left;
  display: inline-block;
  font-size: 20px;
  padding: 5px 10px;
  text-transform: uppercase;
  text-align: right;
}

li a {
  display: block;
  border-bottom: 3px solid #343138;
  color: #343138;
  text-decoration: none;
  text-align: center;
  padding: 14px 16px;
}

li a:hover:not(.active) {
border-bottom: 3px solid #86D0D1;
}

.main{
  padding: 16px;
  margin-top: 30px;
  height: 150px;
}

/*..........Text Animation for sections..........*/

h6{
    color: #343138;
    font-size: 45px;
    font-weight: bold;
    font-family: Tangerine;
    letter-spacing: 10px;
    cursor: pointer;
    padding:20px;
    padding-left: 70px;
}
h6 span{
    transition: .5s linear
}
h6:hover span:nth-child(1){
    margin-right: .5px
}
h6:hover span:nth-child(1):after{
    content: "'";
}
h6:hover span:nth-child(2){
    margin-left: 30px
}
h6:hover span{
    color: #fff;
    text-shadow:
    0 0 10px #86D0D1,
    0 0 20px #86D0D1,
    0 0 40px #86D0D1;
}

/*..........Image gallery for portfolio..........*/
.gallery {
    display: flex;
    padding: 2px;
    transition: 0.3s;

}
.gallery:hover .gallery__image {
    filter: grayscale(1);
}
.gallery__column {
    display: block flow;
    flex-direction: column;
    width: 22%;
}

.gallery__link {
    margin: 2px;
    overflow: hidden;
}
.gallery__link:hover .gallery__image {
    filter: grayscale(0);
}
.gallery__link:hover .gallery__caption {
    opacity: 1;

}
.gallery__thumb {
    position: relative;
}
.gallery__image {
    display: block;
    width: 95%;
    transition: 0.3s;
}
.gallery__image:hover {
    transform: scale(1.1);
}
.gallery__caption {
    position: absolute;
    top: 100%;
    left: 10%;
    padding: 25px 15px 15px;
    width: 80%;
    font-family: Handlee;
    font-size: 1.5em;
    color: #86D0D1;
    opacity: 0;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(255, 255, 255, 0) 100%);
    transition: 0.3s;

}


/*..........Contact..........*/

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #86d0d1;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #ebd2bf;
}

.contact-container {
    display: flex;
    justify-content: left;
    height: 100%;
    padding: 50px;
}
.form-container {
    display: flex;
    justify-content: left;
    height: 100px;
    width: 800px;
    padding: 50px;
}

.object {
    position: relative;
    width: 400px;
    height: 400px;
    z-index: 1;
}

.object__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 5px solid var(--highlight-color);
    border-radius: 50%;
}

.object__intro {
    position: absolute;
    top: 25%;
    left: 100%;
    transform: translateY(-50%);
    width: 600px;
    padding-left: 70px;
    color: var(--highlight-color);
    text-align: left;
}

.object__intro-text {
    line-height: 1.5;
    text-align: left;
    line-break: loose;
    font-size: 25px;
    color: #343138;
    padding-left: 30px;
}


/*.............Text animation contact.............*/
.patterns {
  height: 100vh;
}

svg text {
  font-family: Handlee;
  letter-spacing: 5px;
  stroke: #343138;
  font-size: 30px;
  font-weight: 100;
  stroke-width: 3;

  animation: textAnimate 5s infinite alternate;
}

@keyframes textAnimate {
  0% {
    stroke-dasharray: 0 50%;
    stroke-dashoffset: 20%;
    fill: hsl(189, 68%, 75%);
  }

  100% {
    stroke-dasharray: 50% 0;
    fill: hsla(189, 68%, 75%, 0%);
  }
}

/*..........Footer..........*/
.footer-content {
	text-align: center;
	background-color: #FFFAFA;
	padding-bottom: 15px;
}

.social-logo {
	width: 100px;
}

.footer-shape {
    padding: 0;
    width: 100px;
    margin: 5px 2px;
}
